body {
    background-color: #000;
    color: #fff;
}

button {
    width: 200px;
}

p {
    font-size: xx-large;
}

td {
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #fff;
}

table {
    
}

#tictactoe {
    padding-top: 100px;
}

#ttt-game {
    position: relative;
    margin: auto;
    border: 1px solid #fff;
    border-collapse: unset;
}

#ttt-info {
    text-align: right;
    border: 1px solid #fff;
}

#ttt-options {
    text-align: left;
    border: 1px solid #fff;
}

.center {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.x {
    background-image: url(../images/x.svg);
}

.o {
    background-image: url(../images/o.svg);
}